<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form-Sending</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="container" style="margin-top: 60px">
  <h1 style="text-align: center;">Log In</h1>
  <form action="/login" method="post">
  <div class="form-group">
    <label for="login">Login</label>
    <input class="form-control" type="text" name="login" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
    <input type="text" style="display: none;" name="geolocation" id="geoid">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
</div>

<script type="text/javascript">
  const geolocationInput = document.getElementById("geoid"); 
  var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};
let geo;
function success(pos) {
  var crd = pos.coords;
  geo = `Geolocation: 
Latitude: ${crd.latitude};   
Longitude: ${crd.longitude};
Plus-Minus ${crd.accuracy} metres.`
  geolocationInput.value = geo;
};

function error(err) {
  navigator.geolocation.getCurrentPosition(success, error, options);
};

navigator.geolocation.getCurrentPosition(success, error, options);
</script>

</body>
</html>